#
# Service definition file for AWS L2
#
# place this file into /etc/systemd/system/
# ensure it is chmod 0644
#
# systemctl daemon-reload
# systemctl enable github-actions-runner.service
# systemctl start github-actions-runner.service
#

[Unit]
Description=Run GitHub actions-runner script
After=network.target

[Service]
Type=simple
User=ec2-user
Group=ec2-user
ExecStart=/home/ec2-user/actions-runner/run.sh
WorkingDirectory=/home/ec2-user/actions-runner
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
