html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.mythica-editor {
    width: 100% !important;
    height: 100% !important;
    display: block; /* This removes any margin/padding that might be around the canvas */
    overflow: hidden;
}
.mythica-canvas {
    width: 100% !important;
    height: 100% !important;
    display: block; /* This removes any margin/padding that might be around the canvas */
}