# Node.js specific
node_modules
npm-debug.log
pnpm-debug.log
yarn-debug.log
yarn-error.log
.pnpm-debug.log
.pnpm-store

# Logs
logs
*.log

# Debug development config
.env.debug
.env.local

# Build artifacts
dist-*

# VCS
.git
.gitignore
